<div class="weather">
    <h3>Enter City/State</h3>
    <div>
        <label>City:</label>
        <input #city type="text"
               (keyup.enter)="getWeather(city.value)">
    </div>
    <div>
        <button (click)="getWeather(city.value)"
                [disabled]="pending">Go</button>
    </div>
    <div class="loader" [ngClass]="{'hidden': !pending}">
    </div>
    <div id="report"
         [ngClass]="{'hidden': reportHidden}">
        <div>Weather Report for <span id="name">{{report.name}}</span></div>
        <div class="report">
            <div>Current Weather: {{report.weather[0].main}}</div>
            <div>Last Reading: {{report.dt * 1000 | date:'M/dd/yyyy hh:mm:ss'}}</div>
            <div>Temperature: {{report.main.temp}}</div>
            <div>Humidity: {{report.main.humidity}}</div>
            <div>Sunrise: {{report.sys.sunrise * 1000 | date:'M/dd/yyyy hh:mm:ss' }}</div>
            <div>Sunset: {{report.sys.sunset * 1000 | date:'M/dd/yyyy hh:mm:ss' }}</div>
        </div>
    </div>
    <div>
        <div id="message">
        {{report.message.message}}
        </div>
        <div id="err">
        {{report.message.cod}}
        </div>
    </div>
</div>