$sidebar_width: 160px

.heading
  padding: 10px
  font-weight: normal
  background-color: #2da5d5
  border-bottom: none
  color: #ffffff

.menuHighlight
   background-color: #00cccc


.sidebar
  float: left
  width: $sidebar_width
  background-color: #1c94c4
  height: 100%
  transition: width 0.5s
  overflow: hidden
  white-space: nowrap

.links
  DIV
    padding: 10px
    color: #ffffff
    cursor: pointer
    border-bottom: 1px solid #ffffff
  DIV:hover
    background: #00cccc
